@* @model Vacation.Web.Models.VacationType

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>VacationType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfDays" class="control-label"></label>
                <input asp-for="NumberOfDays" class="form-control" />
                <span asp-validation-for="NumberOfDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@

 @model Vacation.Web.Models.VacationType
<div class="main">
  
    <main class="p-3">
        <div class="container-fluid">
            <div class="mb-3 w-50">
                <form asp-action="Add">


                    <div class="form-group mt-2">
                        <label for="exampleInputEmail1">Vacation Name</label>
                        <input type="text" class="form-control" asp-for="Name"
                        id="exampleInputEmail1"  placeholder="Enter Name">
                    </div>


                   @*  <div class="form-group  mt-2">
                        <label for="exampleInputPassword1">Vacation Color</label>
                        <input type='text' id="custom" />
                        <input type="number" class="form-control" 
                               id="exampleInputPassword1" placeholder="Enter Color">
                    </div> *@

                    <div class="form-group  mt-2">
                        <label for="exampleInputPassword1">Vacation Color</label>
                        @* <input type='text' id="custom" /> *@
                        <input class="form-control" type='text' asp-for="Color" id="Color"
                                placeholder=" Color">
                    </div>



                    <div class="form-group  mt-2">
                        <label for="exampleInputPassword1">Number Of Days</label>
                        <input type="number" class="form-control" asp-for="NumberOfDays"
                               id="exampleInputPassword1" placeholder="Enter Count">
                    </div>






                    <button type="submit" class="btn btn-primary  mt-4">Submit</button>
                </form>
            </div>
        </div>
    </main>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}