@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="main">
  
    <main class="p-3">
        <div class="container-fluid">
            <div class="mb-3 text-center">
                <button type="button" class="btn btn-primary btn-lg">
                    <p>1</p>
                    Department
                </button>
                <button type="button" class="btn btn-secondary btn-lg">
                    <p>2</p>
                    Employees
                </button>




                <button type="button" class="btn btn-success btn-lg">
                    <p>3</p>
                    Vacation Types
                </button>
                <button type="button" class="btn btn-info btn-lg">
                    <p>4</p>
                    Request Vacation
                </button>

                <button type="button" class="btn btn-secondary btn-lg">
                    <p>2</p>
                    Department
                </button>

            </div>

        </div>
    </main>
</div>