@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="main">
  
    <main class="p-3">
        <div class="container-fluid">
            <div class="mb-3 text-center">
                <button type="button" class="btn btn-primary btn-lg">
                    <p>@ViewBag.CountDept</p>
                    Department
                </button>
                <button type="button" class="btn btn-secondary btn-lg">
                    <p> @ViewBag.CountEmp</p>
                   Employee
                </button>




                <button type="button" class="btn btn-success btn-lg">
                    <p>@ViewBag.CountVacationTypes</p>
                    Vacation Types
                </button>
                <button type="button" class="btn btn-info btn-lg">
                    <p>@ViewBag.CountRequestVacation</p>
                    Request Vacation
                </button>

               @*  <button type="button" class="btn btn-secondary btn-lg">
                    <p>2</p>
                    Department
                </button> *@

            </div>

        </div>
    </main>
</div>